/*Udacity Grid Project - Bruce Seymour - 29 November 2017*/

body {
  text-align: center;
}

h1 {
  font-family: Pacifico;
  font-size: 50px;
  margin: 0.2em;
}

h2 {
  font-family: Pacifico;
  margin: 0.25em 0 0.25em;
}

h2:first-of-type {
  margin-top: 0.5em;
}

table, tr, td {
  border: 0.1px solid #d6e5ff;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

input[type=number] {
  width: 6em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.myButton {
  display: block;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 120px;
}

.myColorPicker {
  align-content: center;
  text-align: left;
  padding-left: 30px;
}

.myRoundButton {
  align-content: center;
  font-family: Pacifico;
  padding: 30px;
  border-radius: 50%;
  font-size: 16px;
  margin: 10px 10px;
}

.mySettings {
  align-content: center;
  padding-left: 30px;
  padding-bottom: 30px;
}

.textTreatment {
  font-family: Pacifico;
  font-size: 1em;
  margin: 0.2em;
}
